<app-hero [bannerClass]="'training'" [bannerTitle]="'¿CÓMO NOS SUMAMOS NOSOTROS?'" [bannerSubTitle]="'CAPACITACIONES'" [alternative]="true"></app-hero>
<div class="container py-5 my-5">
  <div class="row">
    <div class="col text-end">
      <h2 class="text-uppercase text-info">
        Con la camiseta siempre puesta por el perú frente al fenómeno el niño
      </h2>
    </div>
    <div class="col-4">
      <div class="d-flex w-100 gap-2 h-100 justify-content-between align-items-center">
        <div class="vr opacity-100 border-info"></div>
        <img src="assets/images/mibanco_logo_c.png" alt="Mibanco" width="100" height="55">
        <img src="assets/images/bcp_logo_c.png" alt="BCP" width="100" height="25">
        <img src="assets/images/pacifico_logo_c.png" alt="Pacifico" width="110" height="25">
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-10 rounded-5 bg-secondary py-3 px-4 mx-auto my-4">
      <div class="row">
        <p class="fs-4 text-center"><strong>Feria en Huaycán, Ate</strong></p>
      </div>
      <div class="row justify-content-around align-items-start">
        <div class="col justify-content-center align-items-center">
          <div class="row justify-content-center align-items-center">
            <img class="mx-auto" src="assets/images/calendar.png">
          </div>
          <p class="text-center">26 de Noviembre 2023</p>
        </div>
        <div class="col justify-content-center align-items-center">
          <div class="row justify-content-center align-items-center">
            <img class="mx-auto" src="assets/images/people.png">
          </div>
          <p class="text-center">Capacidad<br class="d-none d-xxl-inline"/> mil personas</p>
        </div>
        <div class="col justify-content-center align-items-center">
          <div class="row justify-content-center align-items-center">
            <img class="mx-auto" src="assets/images/teaching.png">
          </div>
          <p class="text-center"><strong>+3 mil personas</strong><br/> beneficiadas<br class="d-none d-xxl-inline"/> indiractamente</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col text-end">
      <h2 class="text-uppercase text-info">
        PREVENCIÓN DE RIESGOS EN LOS NEGOCIOS ANTE LA LLEGADA DEL FENÓMENO EL NIÑO
      </h2>
    </div>
    <div class="col-4">
      <div class="d-flex w-100 gap-2 h-100 justify-content-start align-items-center">
        <div class="vr opacity-100 border-info"></div>
        <img src="assets/images/pacifico_logo_c.png" alt="Pacifico" width="110" height="25">
      </div>
    </div>
  </div>
  <div class="row mb-3 gap-4">
    <div class="col rounded-5 bg-secondary py-3 px-5 mx-auto my-4">
      <div class="row">
        <p class="fs-4 text-center mb-1"><strong>Trujillo</strong></p>
        <p class="fs-5 text-center">Hotel Costa del Sol</p>
        <hr class="opacity-100 bg-info">
      </div>
      <div class="row justify-content-around align-items-start">
        <div class="row">
          <div class="col-1">
            <img src="assets/images/calendar.png">
          </div>
          <div class="col">
            21 de Noviembre 2023
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <img src="assets/images/clock.png">
          </div>
          <div class="col">
            9:00 am
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <img src="assets/images/expositor.png">
          </div>
          <div class="col">
            Expositor: <strong>Jaime Chávez Vizcarra</strong><br/>
            (Magister en Administración y doctor en Educación)
          </div>
        </div>
      </div>
    </div>
    <div class="col rounded-5 bg-secondary py-3 px-5 mx-auto my-4">
      <div class="row">
        <p class="fs-4 text-center mb-1"><strong>Chiclayo</strong></p>
        <p class="fs-5 text-center">Casa Andina</p>
        <hr class="opacity-100 bg-info">
      </div>
      <div class="row justify-content-around align-items-start">
        <div class="row">
          <div class="col-1">
            <img src="assets/images/calendar.png">
          </div>
          <div class="col">
            22 de Noviembre 2023
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <img src="assets/images/clock.png">
          </div>
          <div class="col">
            9:00 am
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <img src="assets/images/expositor.png">
          </div>
          <div class="col">
            Expositor: <strong>Jaime Chávez Vizcarra</strong><br/>
            (Magister en Administración y doctor en Educación)
          </div>
        </div>
      </div>
    </div>
    <div class="col rounded-5 bg-secondary py-3 px-5 mx-auto my-4">
      <div class="row">
        <p class="fs-4 text-center mb-1"><strong>Piura</strong></p>
        <p class="fs-5 text-center">Casa Andina</p>
        <hr class="opacity-100 bg-info">
      </div>
      <div class="row justify-content-around align-items-start">
        <div class="row">
          <div class="col-1">
            <img src="assets/images/calendar.png">
          </div>
          <div class="col">
            23 de Noviembre 2023
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <img src="assets/images/clock.png">
          </div>
          <div class="col">
            9:00 am
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <img src="assets/images/expositor.png">
          </div>
          <div class="col">
            Expositor: <strong>Jaime Chávez Vizcarra</strong><br/>
            (Magister en Administración y doctor en Educación)
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center mb-4">
    <a class="btn btn-info col-3 text-light rounded-4 mx-auto shadow-md">
      <strong>Inscríbete</strong>
    </a>
  </div>

</div>
<app-done-information></app-done-information>
