@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Medium.woff2') format('woff2'),
        url('NeoSansPro-Medium.woff') format('woff'),
        url('NeoSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-LightItalic.woff2') format('woff2'),
        url('NeoSansPro-LightItalic.woff') format('woff'),
        url('NeoSansPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-MediumItalic.woff2') format('woff2'),
        url('NeoSansPro-MediumItalic.woff') format('woff'),
        url('NeoSansPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Italic.woff2') format('woff2'),
        url('NeoSansPro-Italic.woff') format('woff'),
        url('NeoSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Ultra.woff2') format('woff2'),
        url('NeoSansPro-Ultra.woff') format('woff'),
        url('NeoSansPro-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Light.woff2') format('woff2'),
        url('NeoSansPro-Light.woff') format('woff'),
        url('NeoSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Regular.woff2') format('woff2'),
        url('NeoSansPro-Regular.woff') format('woff'),
        url('NeoSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-UltraItalic.woff2') format('woff2'),
        url('NeoSansPro-UltraItalic.woff') format('woff'),
        url('NeoSansPro-UltraItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-BlackItalic.woff2') format('woff2'),
        url('NeoSansPro-BlackItalic.woff') format('woff'),
        url('NeoSansPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Black.woff2') format('woff2'),
        url('NeoSansPro-Black.woff') format('woff'),
        url('NeoSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-Bold.woff2') format('woff2'),
        url('NeoSansPro-Bold.woff') format('woff'),
        url('NeoSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Pro';
    src: url('NeoSansPro-BoldItalic.woff2') format('woff2'),
        url('NeoSansPro-BoldItalic.woff') format('woff'),
        url('NeoSansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

