<div class="w-100 bg-secondary p-5">
  <div class="container">
    <div class="row text-center">
      <h1><strong>Lo que hicimos</strong></h1>
    </div>
    <div class="container-fluid">
      <div class="row py-3" *ngIf="section === 1">
        <div class="col text-end">
          <h2><strong>PROTEGE 365</strong></h2>
          <img src="assets/images/pacifico_logo_c.png" alt="Pacifico" width="100" height="22">
          <div class="row row-col-2 my-3">
            <div class="col">
              <div class="row justify-content-center align-items-center">
                <img class="mx-auto" src="assets/images/teaching.png">
              </div>
              <p class="text-center"><small><strong>3 talleres</strong><br/> Trujillo, Chiclayo<br/> y Piura</small></p>
            </div>
            <div class="col">
              <img src="assets/images/expositor.png">
              <div class="row justify-content-center align-items-center">
                <img class="mx-auto" src="assets/images/teaching.png">
              </div>
              <p class="text-center"><small><strong>Participacion de expertos</strong><br/> Cenepred e Indeci</small></p>
            </div>
            <div class="col">
              <img src="assets/images/store.png">
              <div class="row justify-content-center align-items-center">
                <img class="mx-auto" src="assets/images/teaching.png">
              </div>
              <p class="text-center"><small><strong>+200</strong><br/> negocios</small></p>
            </div>
            <div class="col">
              <img src="assets/images/people.png">
              <div class="row justify-content-center align-items-center">
                <img class="mx-auto" src="assets/images/teaching.png">
              </div>
              <p class="text-center"><small><strong>+800 personas</strong><br/> capacitadas por Patricio Valderrama<br/> (Expresidente de Senahmi)</small></p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <img class="img-fluid" src="">
        </div>
      </div>
      <div class="row py-3" *ngIf="section === 2">
        <div class="col-6">
          <img class="img-fluid" src="">
        </div>
        <div class="col text-start">
          <h2><strong>PREPARADOS<br> ESTAMOS MÁS SEGUROS</strong></h2>
          <div class="d-flex w-100 justify-content-start align-items-center gap-4">
            <img src="assets/images/mibanco_logo_c.png" alt="Mibanco" width="100" height="55">
            <img src="assets/images/bcp_logo_c.png" alt="BCP" width="100" height="25">
            <img src="assets/images/pacifico_logo_c.png" alt="Pacifico" width="100" height="22">
          </div>
          <div class="row my-3">
            <p><small><strong>Feria en Piura:</strong> 21 de Octubre 2023</small></p>
            <div class="row">
              <div class="col">
                <img src="assets/images/people.png">
              </div>
              <div class="col">
                <p><small><strong>+500</strong><br>asistentes</small></p>
              </div>
              <div class="col">
                <p><small><strong>+1500 personas</strong><br>impactadas indirectamente<br> (familias y vecinos)</small></p>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <p><small><strong>Feria en Trujillo:</strong> 11 de Noviembre 2023</small></p>
            <div class="row">
              <div class="col">
                <img src="assets/images/people.png">
              </div>
              <div class="col">
                <p><small><strong>+500</strong><br>asistentes</small></p>
              </div>
              <div class="col">
                <p><small><strong>+1500 personas</strong><br>impactadas indirectamente<br> (familias y vecinos)</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row flex-row">
      <div class="d-flex w-100 justify-content-center align-items-center">
        <img class="cursor-pointer" src="assets/images/next-left-g.png" (click)="changeSection()">
        <img class="cursor-pointer" src="assets/images/next-right-g.png" (click)="changeSection()">
      </div>
    </div>
  </div>
</div>
