<app-hero [bannerClass]="'emergency-cases'" [bannerTitle]="'MEDIDAS A TOMAR'" [bannerSubTitle]="'EN CASO TU ZONA SEA AFECTADA'" [alternative]="true"></app-hero>
<div class="w-100">
  <div class="container">
    <div class="row py-5 my-5">
      <div class="col">
        <h1 class="text-start text-info">
          Qué hacer en casos de<br class="d-none d-xl-inline"/> inundación o<br class="d-none d-xl-inline"/> deslizamientos de tierra:
        </h1>
        <div class="w-100 d-flex flex-column my-5">
          <div class="row my-2 me-xl-5 me-0 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/x-house.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">No habites zonas expuestas a inundaciones, huaicos y otros peligros.</p>
            </div>
          </div>
          <div class="row my-2 me-xl-5 me-0 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/routes.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Identifica las rutas de evacuación, las zonas seguras y los puntos de reunión de tu comunidad.</p>
            </div>
          </div>
          <div class="row my-2 me-xl-5 me-0 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/list.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Elabora tu Plan Familiar de Emergencia e infórmate sobre cuáles son las zonas más vulnerables de tu comunidad.</p>
            </div>
          </div>
          <div class="row my-2 me-xl-5 me-0 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/chat.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Dialoga con tus hijos, asígnales roles e incluye en tu mochila de emergencia materiales que ellos puedan requerir.</p>
            </div>
          </div>
          <div class="row my-2 me-xl-5 me-0 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/sacs.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Cuenta con sacos de tierra o arena en las puertas de tu vivienda para evitar el ingreso de agua.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <img src="assets/images/sacs.png" class="w-100">
      </div>
    </div>
  </div>
</div>
<div class="w-100 bg-secondary">
  <div class="container">
    <div class="row py-5 my-5">
      <div class="col-12 col-xl-6">
        <img src="assets/images/houses.png" class="w-100">
      </div>
      <div class="col">
        <h1 class="text-start text-info ms-xl-5 ms-0 mt-4">
          Qué hacer en casos de<br class="d-none d-xl-inline"/> lluvias intensas:
        </h1>
        <div class="w-100 d-flex flex-column my-5 ms-xl-5 ms-0">
          <div class="row my-2 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/roof.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Revise el estado de su techo y asegúrese de que no haya filtraciones ni goteras.</p>
            </div>
          </div>
          <div class="row my-2 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/rain.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Cubre las paredes y el techo de su vivienda con material impermeable, como plástico, para evitar la filtración del agua y el debilitamiento de los muros.</p>
            </div>
          </div>
          <div class="row my-2 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/roofless.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Proteja el techo de su vivienda dándole una pendiente para que pueda correr el agua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-100">
  <div class="container">
    <div class="row py-5 my-5">
      <div class="col">
        <h1 class="text-start text-info mt-4">
          Qué hacer en caso de<br class="d-none d-xl-inline"/> derrumbe de estructuras<br class="d-none d-xl-inline"/> de techo:
        </h1>
        <div class="w-100 d-flex flex-column my-5">
          <div class="row my-2 me-xl-5 me-0 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/exit-run.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Si tu vivienda ha sido dañada por las lluvias y/o inundaciones evacua a la zona designada por las autoridades.</p>
            </div>
          </div>
          <div class="row my-2 me-xl-5 me-0 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/earthquake.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">No intentes ingresar a tu vivienda si las autoridades no te recomiendan.</p>
            </div>
          </div>
          <div class="row my-2 me-xl-5 me-0 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/kid-hands.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Evita que los niños se acerquen a la vivienda.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <img src="assets/images/family.png" class="w-100">
      </div>
    </div>
  </div>
</div>
<div class="w-100 bg-secondary">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 col-xl-6">
        <img src="assets/images/fields.png" class="w-100">
      </div>
      <div class="col">
        <h1 class="text-start text-info ms-xl-5 ms-0 mt-4">
          Qué hacer en casos de<br class="d-none d-xl-inline"/> sequías:
        </h1>
        <div class="w-100 d-flex flex-column my-5 ms-xl-5 ms-0">
          <div class="row my-2 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/plant-hand.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Evita la quema de árboles y vegetación.</p>
            </div>
          </div>
          <div class="row my-2 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/water-reserve.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Procura la construcción de reservorios de agua para los animales.</p>
            </div>
          </div>
          <div class="row my-2 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/plant-water.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">Establece sistemas de regadío que permitan utilizar las aguas naturales.</p>
            </div>
          </div>
          <div class="row my-2 align-items-center">
            <div class="col-2 col-xl-1">
              <img src="assets/images/icons/seeds.png" width="50" height="50">
            </div>
            <div class="col">
              <p class="fs-5 text-info my-0 ms-3">En la siembra identifica los productos que requieren poca agua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
