<footer class="w-100 py-5" style="background-color: var(--bs-gray-800);">
  <div class="container d-flex flex-column flex-xl-row">
    <div class="d-flex w-100 flex-column">
      <h3 class="text-light text-center pt-3 pt-xl-0">MIBANCO</h3>
      <div class="d-flex justify-content-around align-items-center col-10 col-xl-8 mx-auto pt-3 pt-xl-5">

        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.instagram.com/mibancope/" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-instagram bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.youtube.com/@MibancoOficial" target="_blank" style="width: 35px; height: 35px" >
          <i class="bx bxl-youtube bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.facebook.com/MibancoOficial" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-facebook bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.linkedin.com/company/mibanco-banco-de-la-microempresa/" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-linkedin bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.tiktok.com/@mibancope?lang=es" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-tiktok bx-sm" style="width: 25px; height: 23px"></i>
        </a>
      </div>
      <p class="text-light text-center py-3 py-xl-5">
        BANCO DE LA MICROEMPRESA S.A <br>
        RUC 20382036655
      </p>
    </div>
    <div class="vr mt-4 bg-secondary opacity-100 d-none d-xl-inline"></div>
    <hr class="border-white opacity-100 d-inline d-xl-none">
    <div class="d-flex w-100 flex-column">
      <h3 class="text-light text-center pt-3 pt-xl-0">BCP</h3>
      <div class="d-flex justify-content-around align-items-center col-10 col-xl-8 mx-auto pt-3 pt-xl-5">
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.instagram.com/bcpbancodecredito/" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-instagram bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.youtube.com/@BancodeCreditoBCP" target="_blank" style="width: 35px; height: 35px" >
          <i class="bx bxl-youtube bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.facebook.com/bancodecreditobcp" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-facebook bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.linkedin.com/company/banco-de-credito-bcp/" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-linkedin bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.tiktok.com/@bcpbancodecredito?lang=es" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-tiktok bx-sm" style="width: 25px; height: 23px"></i>
        </a>
      </div>
      <p class="text-light text-center py-3 py-xl-5">
        BANCO DE CREDITO DEL PERU S.A <br>
        RUC 20100047218
      </p>
    </div>
    <div class="vr mt-4 bg-secondary opacity-100 d-none d-xl-inline"></div>
    <hr class="border-white opacity-100 d-inline d-xl-none">
    <div class="d-flex w-100 flex-column">
      <h3 class="text-light text-center pt-3 pt-xl-0">PACÍFICO</h3>
      <div class="d-flex justify-content-around align-items-center col-10 col-xl-8 mx-auto pt-3 pt-xl-5">
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.instagram.com/pacifico_seguros/" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-instagram bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://youtube.com/@SegurosPacifico?si=3DIFty7JmmlIUFs1" target="_blank" style="width: 35px; height: 35px" >
          <i class="bx bxl-youtube bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.facebook.com/PacificoSeguros" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-facebook bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.linkedin.com/company/pacificoseguros/" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-linkedin bx-sm" style="width: 25px; height: 23px"></i>
        </a>
        <a class="d-flex justify-content-center align-items-center rounded-circle bg-secondary text-dark text-decoration-none" href="https://www.tiktok.com/@pacifico_oficial?lang=es" target="_blank" style="width: 35px; height: 35px;">
          <i class="bx bxl-tiktok bx-sm" style="width: 25px; height: 23px"></i>
        </a>

      </div>
      <p class="text-light text-center py-3 py-xl-5">
        PACÍFICO COMPAÑÍA DE SEGUROS Y REASEGUROS <br>
        RUC:20332970411
        <br>
        <br>
        PACÍFICO S.A. ENTIDAD PRESTADORA DE SALUD <br>
        RUC 20431115825
      </p>
    </div>
  </div>
</footer>
