<app-hero [bannerClass]="'afected-zones'" [bannerTitle]="'ZONAS AFECTADAS'" [bannerSubTitle]="'PARA AFORNTAR EL FENÓMENO DEL NIÑO'" [alternative]="true"></app-hero>
<div class="container">
  <div class="row w-100 my-5 py-5 justify-content-center align-items-center">
    <div class="col-10 col-xl-6 px-0 px-xl-5">
      <img src="assets/images/map.png" class="w-100">
      <p class="mt-5">
        <small>Fuente: SENAMHI - ESCENARIO PROBABILÍSTICO DE LLUVIAS <br/>
        *Actualizado al 16 de octubre del 2023</small>
      </p>
    </div>
    <div class="col-10 col-xl-6 px-0 px-xl-5">
      <div class="row">
        <h2 class="text-info px-0 fs-2">Lluvias normales<br/> y bajo lo normal</h2>
        <ul class="py-3 px-4">
          <li>Huánuco</li>
          <li>Pasco</li>
          <li>Junín</li>
          <li>Huancavelica</li>
          <li>Ayacucho</li>
          <li>Apurímac</li>
          <li>Ucayali</li>
          <li>Cusco</li>
          <li>Puno</li>
          <li>Madre de Dios</li>
        </ul>
      </div>
      <div class="row">
        <h2 class="text-info px-0 fs-2">Lluvias superiores</h2>
        <ul class="py-3 px-4">
          <li>Amazonas</li>
          <li>Ancash</li>
          <li>Arequipa</li>
          <li>Cajamarca</li>
          <li>Ica</li>
          <li>La Libertad</li>
          <li>Loreto</li>
          <li>Moquegua</li>
          <li>Piura</li>
          <li>San Martin</li>
          <li>Tacna</li>
          <li>Lima</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="my-5"></div>
</div>
