<section id="afrontar" class="container mt-5 py-5">
  <h1 class="text-center text-dark"><b>¿CÓMO AFRONTAR EL FENÓMENO EL NIÑO?</b></h1>
  <div class="d-flex flex-xl-row flex-column gap-4 py-5">
    <a [routerLink]="['/como-afrontar']" class="d-flex border rounded-4 p-3 p-xl-5 col-xl-4 col-11 mx-auto gap-3 information text-decoration-none custom-shadow">
      <div class="image-icon col-4 col-xl-3">
        <img src="assets/images/backpack_r.png" class="base w-100 p-3 p-xl-0">
        <img src="assets/images/backpack_w.png" class="hover w-100 p-3 p-xl-0">
      </div>
      <div class="d-flex flex-column">
        <p class="fs-5 fs-xl-4">
          <b>Consejos para estar<br class="d-none d-xl-inline"> preparado</b>
        </p>
        <a class="d-flex text-decoration-none fs-6 fs-xl-5 image-icon align-items-center">
          <b>VER MÁS</b>
          <img src="assets/images/arrow_g.png" class="base ps-2">
          <img src="assets/images/arrow_w.png" class="hover ps-2">
        </a>
      </div>
    </a>
    <a [routerLink]="['/medidas-a-tomar']" class="d-flex border rounded-4 p-4 p-xl-5 col-xl-4 col-11 mx-auto gap-3 information text-decoration-none custom-shadow">
      <div class="image-icon col-4 col-xl-3">
        <img src="assets/images/exit_r.png" class="base w-100 p-3 p-xl-0">
        <img src="assets/images/exit_w.png" class="hover w-100 p-3 p-xl-0">
      </div>
      <div class="d-flex flex-column">
        <p class="fs-5 fs-xl-4">
          <b>¿Qué hacer en casos<br class="d-none d-xl-inline"> de emergencia?</b>
        </p>
        <a class="d-flex text-decoration-none fs-6 fs-xl-5 image-icon align-items-center">
          <b>VER MÁS</b>
          <img src="assets/images/arrow_g.png" class="base ps-2">
          <img src="assets/images/arrow_w.png" class="hover ps-2">
        </a>
      </div>
    </a>
    <a [routerLink]="['/zonas-afectadas']" class="d-flex border rounded-4 p-4 p-xl-5 col-xl-4 col-11 mx-auto gap-3 information text-decoration-none custom-shadow">
      <div class="image-icon col-4 col-xl-4">
        <img src="assets/images/house_r.png" class="base w-100 p-2 p-xl-0">
        <img src="assets/images/house_w.png" class="hover w-100 p-2 p-xl-0">
      </div>
      <div class="d-flex flex-column w-100">
        <p class="fs-5 fs-xl-4">
          <b>Zonas donde<br class="d-none d-xl-inline"> afectará el FEN</b>
        </p>
        <a class="d-flex text-decoration-none fs-6 fs-xl-5 image-icon align-items-center">
          <b>VER MÁS</b>
          <img src="assets/images/arrow_g.png" class="base ps-2">
          <img src="assets/images/arrow_w.png" class="hover ps-2">
        </a>
      </div>
    </a>
  </div>
</section>
