<app-hero [bannerClass]="'emergency-backpack'" [bannerTitle]="'ARTÍCULOS INDISPENSABLES'" [bannerSubTitle]="'PARA AFORNTAR EL FENÓMENO DEL NIÑO'" [alternative]="true"></app-hero>
<div class="container">
  <div class="row w-100 my-5 justify-content-center align-items-center">
    <div class="my-xl-5 py-xl-5 my-3 py-3"></div>
    <div class="row">
      <div class="col-12 col-xl-4">
        <h1 class="text-info py-2">Ten lista tu Mochila <br class="d-none d-xxl-inline"> de Emergencia</h1>
        <ul class="py-3 px-4 text-info">
          <li>Agua y alimentos no perecibles.</li>
          <li>Botiquín de primeros auxilios.</li>
          <li>Documentos importantes. (DNI, papeles de seguros, etc).</li>
          <li>Dinero en efectivo.</li>
          <li>Silbato y radio.</li>
          <li>Linterna y pilas de repuesto.</li>
          <li>Artículos de higiene personal.</li>
          <li>Manta y ropa.</li>
        </ul>
      </div>
      <div class="col my-5 my-xl-0">
        <img class="img-fluid w-100" src="assets/images/supplies.png">
      </div>
    </div>
    <div class="my-xl-5 py-xl-5 my-3 py-3"></div>
  </div>
</div>
<div class="w-100 mt-5 mb-0 justify-content-center align-items-center bg-secondary">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-xl-2 col-12">
        <img class="img-fluid warning mx-auto d-block my-3 my-xl-0" src="assets/images/warning.png">
      </div>
      <div class="col d-flex justify-content-center align-items-center message">
        <h2 class="text-dark fs-4 fs-xl-2">
          <strong>Considera que son artículos para las primeras 24 horas y lo necesario para cada persona. No olvides verificar la fechas de vencimiento de los productos guardados.</strong>
        </h2>
      </div>
    </div>
  </div>
</div>
