/* You can add global styles to this file, and also import other style files */
$primary: #ea3b34;
$secondary: #dadada;
$info: #8a817c;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'assets/fonts/fonts.scss';

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bg-light);
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

.cursor-pointer{
  cursor: pointer;
}

* {
  font-family: 'Neo Sans Pro', sans-serif;
}

#banner {
  background: none no-repeat;
  height: 900px;
  background-position: center;
  background-size: cover;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.75) 100%);
  }
}

#banner{
  &.b_1{
    background: url('assets/images/banner_1.png') no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.b_2{
    background: url('assets/images/banner_2.png') no-repeat;
    background-position: center;
    background-size: cover;
  }

  &.b_3{
    background: url('assets/images/banner_3.png') no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 1480px) {
  html, body {
    scroll-padding: 300px;
  }
  #banner {
    height: 1100px;
  }
}
