<div class="container">
  <div class="row w-100 my-5 mx-auto justify-content-center align-items-center">
    <h2 class="text-info">Prevención</h2>
    <div class="row bg-secondary mt-4 py-4 px-3 rounded-5">
      <div class="col-12 col-xl-6">
        <img src="assets/images/ep42.png" class="w-100">
      </div>
      <div class="col d-flex justify-content-around flex-column">
        <div>
          <h4 class="fs-4 fs-xl-3 my-4 text-info text-start">Para que al Niño podamos enfrentar, preparados debemos estar</h4>
          <p class="fs-6 mt-3 mb-4">Recuerda que ahorrar un fondo de emergencia te ayudará
            a afrontar gastos para prevenir y cuidar a los tuyos.
            Con este capítulo, te enseñaremos a estar preparados para
            enfrentar al fenómeno del niño</p>
          <a href="https://www.youtube.com/watch?feature=shared&v=QuF8166im-c" target="_blank" class="d-block btn btn-dark rounded-pill col-6 col-xl-4 mx-auto mx-xl-0">Ver capítulo</a>
        </div>
      </div>
    </div>
    <div class="row bg-secondary my-4 py-4 px-3 rounded-5 flex-column-reverse flex-xl-row">
      <div class="col d-flex justify-content-center justify-content-xl-around flex-column">
        <div>
          <h4 class="fs-3 my-4 text-info">Si tus créditos se te dificulta pagar, acude al banco para que te pueda ayudar</h4>
          <p class="fs-6 mt-3 mb-4">Recuerda que ahorrar un fondo de emergencia te ayudará
            a afrontar gastos para prevenir y cuidar a los tuyos</p>
          <a href="https://www.youtube.com/watch?feature=shared&v=e2pqFrk8N9M" target="_blank" class="d-block btn btn-dark rounded-pill col-6 col-xl-4 mx-auto mx-xl-0">Ver capítulo</a>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <img src="assets/images/ep46.png" class="w-100">
      </div>
    </div>
  </div>
</div>
